<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="display-content">
    <% if(users.length > 0) { %>
        
            <ul>
                <% for(let user of users){ %>
                    <li><%= user.title %></li>
                <% } %>
            </ul>
        
    <% } else { %>
        <h1>No users Found!</h1>
    <% } %>
</div>
</body>
</html>